# Data-X Fall 2018: Homework 06 

### Machine Learning

**Authors:** Sana Iqbal (Part 1, 2, 3)


In this homework, you will do some exercises with prediction. Please note that not all tests are visible. There will be further tests on gradescope.

In [1]:
import numpy as np
import pandas as pd
import otter

In [2]:
 # machine learning libraries
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
#import xgboost as xgb

In [3]:
grader = otter.Notebook()

## Part 1



#### 1.a Read __`diabetesdata.csv`__ file into a pandas dataframe. 
About the data: __

1. __TimesPregnant__: Number of times pregnant 
2. __glucoseLevel__: Plasma glucose concentration a 2 hours in an oral glucose tolerance test 
3. __BP__: Diastolic blood pressure (mm Hg)  
5. __insulin__: 2-Hour serum insulin (mu U/ml) 
6. __BMI__: Body mass index (weight in kg/(height in m)^2) 
7. __pedigree__: Diabetes pedigree function 
8. __Age__: Age (years) 
9. __IsDiabetic__: 0 if not diabetic or 1 if diabetic)

In [4]:
#Read data & print it
data = data = pd.read_csv('diabetesdata.csv')
print(data)

     TimesPregnant  glucoseLevel  BP  insulin   BMI  Pedigree   Age  \
0                6         148.0  72        0  33.6     0.627  50.0
1                1           NaN  66        0  26.6     0.351  31.0
2                8         183.0  64        0  23.3     0.672   NaN
3                1           NaN  66       94  28.1     0.167  21.0
4                0         137.0  40      168  43.1     2.288  33.0
5                5         116.0  74        0  25.6     0.201  30.0
6                3          78.0  50       88  31.0     0.248  26.0
7               10         115.0   0        0  35.3     0.134  29.0
8                2         197.0  70      543  30.5     0.158  53.0
9                8           NaN  96        0   0.0     0.232  54.0
10               4         110.0  92        0  37.6     0.191   NaN
11              10         168.0  74        0  38.0     0.537  34.0
12              10         139.0  80        0  27.1     1.441  57.0
13               1           NaN  60      846  30.1     0.398  59.0
14               5         166.0  72      175  25.8     0.587  51.0
15               7         100.0   0        0  30.0     0.484  32.0
16               0           NaN  84      230  45.8     0.551  31.0
17               7         107.0  74        0  29.6     0.254  31.0
18               1         103.0  30       83  43.3     0.183  33.0
19               1         115.0  70       96  34.6     0.529  32.0
20               3         126.0  88      235  39.3     0.704  27.0
21               8          99.0  84        0  35.4     0.388  50.0
22               7         196.0  90        0  39.8     0.451  41.0
23               9         119.0  80        0  29.0     0.263  29.0
24              11         143.0  94      146  36.6     0.254  51.0
25              10         125.0  70      115  31.1     0.205  41.0
26               7         147.0  76        0  39.4     0.257  43.0
27               1          97.0  66      140  23.2     0.487   NaN
28              13           NaN  82      110  22.2     0.245  57.0
29               5         117.0  92        0  34.1     0.337  38.0
..             ...           ...  ..      ...   ...       ...   ...
738              2          99.0  60      160  36.6     0.453   NaN
739              1         102.0  74        0  39.5     0.293  42.0
740             11         120.0  80      150  42.3     0.785  48.0
741              3         102.0  44       94  30.8     0.400  26.0
742              1         109.0  58      116  28.5     0.219  22.0
743              9         140.0  94        0  32.7     0.734  45.0
744             13         153.0  88      140  40.6     1.174  39.0
745             12         100.0  84      105  30.0     0.488  46.0
746              1         147.0  94        0  49.3     0.358  27.0
747              1          81.0  74       57  46.3     1.096  32.0
748              3         187.0  70      200  36.4     0.408  36.0
749              6         162.0  62        0  24.3     0.178  50.0
750              4         136.0  70        0  31.2     1.182  22.0
751              1         121.0  78       74  39.0     0.261  28.0
752              3         108.0  62        0  26.0     0.223  25.0
753              0         181.0  88      510  43.3     0.222  26.0
754              8         154.0  78        0  32.4     0.443  45.0
755              1         128.0  88      110  36.5     1.057  37.0
756              7         137.0  90        0  32.0     0.391  39.0
757              0         123.0  72        0  36.3     0.258  52.0
758              1         106.0  76        0  37.5     0.197  26.0
759              6         190.0  92        0  35.5     0.278  66.0
760              2          88.0  58       16  28.4     0.766  22.0
761              9         170.0  74        0  44.0     0.403  43.0
762              9          89.0  62        0  22.5     0.142  33.0
763             10         101.0  76      180  32.9     0.171  63.0
764              2         122.0  70        0  36.8     0.340  27.0
765              5         121.0  72      112  26.2     0.245  30.0
766              1         126.0  60        0  30.1     0.349  47.0
767              1          93.0  70        0  30.4     0.315  23.0

     IsDiabetic
0             1
1             0
2             1
3             0
4             1
5             0
6             1
7             0
8             1
9             1
10            0
11            1
12            0
13            1
14            1
15            1
16            1
17            1
18            0
19            1
20            0
21            0
22            1
23            1
24            1
25            1
26            1
27            0
28            0
29            0
..          ...
738           0
739           1
740           1
741           0
742           0
743           1
744           0
745           0
746           1
747           0
748           1
749           1
750           1
751           0
752           0
753           1
754           1
755           1
756           0
757           1
758           0
759           1
760           0
761           1
762           0
763           0
764           0
765           0
766           1
767           0

[768 rows x 8 columns]

In [5]:
grader.check('q1a')

    All tests passed!

#### 1.b Calculate the percentage of NaN values in each column.

In [6]:
NullsPerColumn=pd.DataFrame((data.isnull().sum(axis=0)/len(data))) 
NullsPerColumn.columns = ['Percentage Null']
print(NullsPerColumn)

               Percentage Null
TimesPregnant         0.000000
glucoseLevel          0.044271
BP                    0.000000
insulin               0.000000
BMI                   0.000000
Pedigree              0.000000
Age                   0.042969
IsDiabetic            0.000000

In [7]:
grader.check('q1b')

    All tests passed!

**1.c Calculate the TOTAL percent of ROWS with NaN values in the dataframe (make sure values are floats).**

In [8]:
# Return values between 0 and 1. 
PercentNull =  len(data[data.isnull().any(axis=1)])/len(data)
print(PercentNull)

0.08333333333333333

**1.d Split __`data`__  into  __`train_df`__ and __`test_df`__  with 15% test split.**

In [9]:
#split values
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(data, test_size=0.15)

**1.e Replace the Nan values in  __`train_df`__ and __`test_df`__  with the mean of EACH feature.**

In [10]:
train_df =train_df.fillna(train_df.mean())
test_df =test_df.fillna((test_df.mean()))

In [11]:
grader.check('q1e')

    All tests passed!

**1.f Split __`train_df`__ & __`test_df`__   into  __`X_train`__, __`Y_train`__  and __`X_test`__, __`Y_test`__. __`Y_train`__  and __`Y_test`__ should only have the column we are trying to predict,  __`IsDiabetic`__.**

In [12]:
X_train = train_df[['TimesPregnant', 'glucoseLevel' ,'BP' ,'insulin', 'BMI', 'Pedigree','Age']]
Y_train = train_df['IsDiabetic']
X_test  = test_df[['TimesPregnant', 'glucoseLevel' ,'BP' ,'insulin', 'BMI', 'Pedigree','Age']]
Y_test = test_df['IsDiabetic']

In [13]:
grader.check('q1f')

    All tests passed!

**1.g Use this dataset to train perceptron, logistic regression and random forest models using 15% test split. Report training and test accuracies.**

In [14]:
# Logistic Regression

logreg = LogisticRegression(solver = 'newton-cg', multi_class='ovr') # use newton-cg solver and 'ovr' for multi_class
logreg.fit(X_train, Y_train)
logreg_train_acc =logreg.score(X_train,Y_train)
logreg_test_acc = logreg.score(X_test,Y_test)
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.7837423312883436
logreg test accuracy=  0.7327586206896551

In [15]:
# Perceptron

perceptron = Perceptron()
perceptron.fit(X_train, Y_train)
perceptron_train_acc = perceptron.score(X_train, Y_train)
perceptron_test_acc = perceptron.score(X_test,Y_test)
print ('perceptron training acuracy= ',perceptron_train_acc)
print('perceptron test accuracy= ',perceptron_test_acc)

perceptron training acuracy=  0.4938650306748466
perceptron test accuracy=  0.4827586206896552

In [16]:
# Adaboost

adaboost = AdaBoostClassifier()
adaboost.fit(X_train, Y_train)
adaboost_train_acc = adaboost.score(X_train, Y_train)
adaboost_test_acc = adaboost.score(X_test,Y_test)
print ('adaboost training acuracy= ',adaboost_train_acc)
print('adaboost test accuracy= ',adaboost_test_acc)

adaboost training acuracy=  0.8343558282208589
adaboost test accuracy=  0.7155172413793104

In [17]:
# Random Forest

random_forest = RandomForestClassifier()
random_forest.fit(X_train, Y_train)
random_forest_train_acc = random_forest.score(X_train, Y_train)
random_forest_test_acc = random_forest.score(X_test,Y_test)
print('random_forest training acuracy= ',random_forest_train_acc)
print('random_forest test accuracy= ',random_forest_test_acc)

random_forest training acuracy=  0.9723926380368099
random_forest test accuracy=  0.7586206896551724

//anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

**1.h Is mean imputation is the best type of imputation to use? Why or why not? What are some other ways to impute the data?**

In [18]:
better = False 
# [boolean] change this to be True if you believe mean imputation is the best imputation to use, and False otherwise
explanation = 'Even though mean imputation method avoids shifting the mean of the data set,\
                it doesnot preserve the relationships among variables and in some cases,\
                average value is not an integer which does not make sense. In addition,\
                if too many values are replaced by the mean, then distribution of the dataset changes as well.\
                Thus, regression imputation, hot deck imputation, stochastic regression imputation\
                are some other eays to impute the data. These are considered to be better than mean imputation\
                because these methods preserve relationships and make sure that the values used to fill in the NAN\
                are reasonable.'  
# [string] write why or why not here, and other ways

## Part 2


__2.a Add columns __`BMI_band`__ & __`Pedigree_band`__  to  a new dataframe called __`data2`__  by cutting __`BMI`__ & __`Pedigree`__ into 3 intervals. PRINT the first 5 rows of __`data2`__.

In [19]:
# YOUR CODE HERE
data2 = data.copy()
data2['BMI_band']=pd.cut(data['BMI'],3)
data2['Pedigree_band']=pd.cut(data['Pedigree'],3)
print(data2.head())

   TimesPregnant  glucoseLevel  BP  insulin   BMI  Pedigree   Age  IsDiabetic  \
0              6         148.0  72        0  33.6     0.627  50.0           1
1              1           NaN  66        0  26.6     0.351  31.0           0
2              8         183.0  64        0  23.3     0.672   NaN           1
3              1           NaN  66       94  28.1     0.167  21.0           0
4              0         137.0  40      168  43.1     2.288  33.0           1

           BMI_band    Pedigree_band
0  (22.367, 44.733]  (0.0757, 0.859]
1  (22.367, 44.733]  (0.0757, 0.859]
2  (22.367, 44.733]  (0.0757, 0.859]
3  (22.367, 44.733]  (0.0757, 0.859]
4  (22.367, 44.733]    (1.639, 2.42]

__2.b Print the category intervals for __`BMI_band`__ & __`Pedigree_band`.

In [20]:
print('BMI_Band_Interval: ' + str(data2['BMI_band'].unique()))
print('Pedigree_Band_Interval: ' + str(data2['Pedigree_band'].unique()))

BMI_Band_Interval: [(22.367, 44.733], (-0.0671, 22.367], (44.733, 67.1]]
Categories (3, interval[float64]): [(-0.0671, 22.367] < (22.367, 44.733] < (44.733, 67.1]]
Pedigree_Band_Interval: [(0.0757, 0.859], (1.639, 2.42], (0.859, 1.639]]
Categories (3, interval[float64]): [(0.0757, 0.859] < (0.859, 1.639] < (1.639, 2.42]]

__2.c Group __`data`__ by __`Pedigree_band`__ & determine ratio of diabetic in each band.__

In [21]:
# YOUR CODE HERE
#method2: data_temp= pd.concat([data, data2], axis=1, sort=False)
#pedigree_DiabeticRatio = data_temp.groupby("Pedigree_band")['IsDiabetic'].sum()/data_temp.groupby("Pedigree_band")['IsDiabetic'].count()

pedigree_DiabeticRatio = (data2[["Pedigree_band", "IsDiabetic"]]
    .groupby(["Pedigree_band"], as_index=False)
    .mean()
    .sort_values(by="Pedigree_band"))
pedigree_DiabeticRatio

     Pedigree_band  IsDiabetic
0  (0.0757, 0.859]    0.327007
1   (0.859, 1.639]    0.540541
2    (1.639, 2.42]    0.444444

__2.d Group  __`data`__ by __`BMI_band`__ & determine ratio of diabetic in each band.__

In [22]:
BMI_DiabeticRatio = (data2[["BMI_band", "IsDiabetic"]]
    .groupby(["BMI_band"], as_index=False)
    .mean()
    .sort_values(by="BMI_band"))
BMI_DiabeticRatio

            BMI_band  IsDiabetic
0  (-0.0671, 22.367]    0.039216
1   (22.367, 44.733]    0.358297
2     (44.733, 67.1]    0.611111

__2.e Convert these features - 'BP','insulin','BMI' and 'Pedigree'   into categorical values by mapping different bands of values of these features to integers 0,1,2 in a dataframe called `data3`.__  
 
HINT: USE pd.cut with bin=3 to create 3 bins

In [23]:
# YOUR CODE HERE

data3 = data2.copy()
data3['BP']=pd.cut(data3['BP'],3, labels=[0,1,2])
data3['insulin']=pd.cut(data3['insulin'],3, labels=[0,1,2])
data3['BMI']=pd.cut(data3['BMI'],3, labels=[0,1,2])
data3['Pedigree']=pd.cut(data3['Pedigree'],3, labels=[0,1,2])


__2.f Now consider the original dataset again, instead of generalizing the NAN values with the mean of the feature we will try assigning values to NANs based on some hypothesis. For example for age we assume that the relation between BMI and BP of people is a reflection of the age group. We can have 9 types of BMI and BP relations and our aim is to find the median age of each of that group:__

Your Age guess matrix will look like this:  

| BMI | 0       | 1      | 2  |
|-----|-------------|------------- |----- |
| BP  |             |              |      |
| 0   | a00         | a01          | a02  |
| 1   | a10         | a11          | a12  |
| 2   | a20         | a21          |  a22 |


__Create a guess_matrix  for NaN values of *'Age'* ( using 'BMI' and 'BP')  and  *'glucoseLevel'*  (using 'BP' and 'Pedigree') for the given dataset and assign values accordingly to the NaNs in 'Age' or *'glucoseLevel'* .__


Refer to how we guessed age in the titanic notebook in the class.

In [24]:
# YOUR CODE HERE
guess_matrix_age = np.array(pd.crosstab(data3['BMI'],data3['BP'],values=data3['Age'],aggfunc="median"))
guess_matrix_glucoseLevel = np.array(pd.crosstab(data3['BP'],data3['Pedigree'],values=data3['glucoseLevel'],aggfunc="median"))
for i in range(0,3):
    for j in range(0,3):
        data3.loc[(data3.Age.isnull()) & (data3.BMI == i) & (data3.BP == j), "Age"]=guess_matrix_age[i,j]
        data3.loc[(data3.glucoseLevel.isnull()) & (data3.BP == i) & (data3.Pedigree == j), "glucoseLevel"]=guess_matrix_glucoseLevel[i,j]
data3['Age'] = data3['Age'].astype(int)
data3['glucoseLevel'] = data3['glucoseLevel'].astype(int)

In [25]:
grader.check('q2f')

    All tests passed!



__2.g Now, convert 'glucoseLevel' and 'Age' features also to categorical variables of 4 categories each in a dataframe called `data4`. PRINT the head of `data4`__

In [26]:
# YOUR CODE HERE

data4 = data3.copy()
data4['glucoseLevel']=pd.cut(data4['glucoseLevel'],4,labels=[0,1,2,3])
data4['Age']=pd.cut(data4['Age'],4,labels=[0,1,2,3])
data4.head()

,TimesPregnant,glucoseLevel,BP,insulin,BMI,Pedigree,Age,IsDiabetic,BMI_band,Pedigree_band
0,6,2,1,0,1,0,1,1,"(22.367, 44.733]","(0.0757, 0.859]"
1,1,2,1,0,1,0,0,0,"(22.367, 44.733]","(0.0757, 0.859]"
2,8,3,1,0,1,0,0,1,"(22.367, 44.733]","(0.0757, 0.859]"
3,1,2,1,0,1,0,0,0,"(22.367, 44.733]","(0.0757, 0.859]"
4,0,2,0,0,1,2,0,1,"(22.367, 44.733]","(1.639, 2.42]"

In [27]:
grader.check('q2g')

    All tests passed!

__2.h Use this dataset (with all features in categorical form) to train perceptron, logistic regression and random forest models using 15% test split. Report training and test accuracies.__

In [28]:
train_df, test_df = train_test_split(data4, test_size=0.15)
X_train = train_df[['TimesPregnant', 'glucoseLevel' ,'BP' ,'insulin', 'BMI', 'Pedigree','Age']]
Y_train = train_df['IsDiabetic']
X_test  = test_df[['TimesPregnant', 'glucoseLevel' ,'BP' ,'insulin', 'BMI', 'Pedigree','Age']]
Y_test = test_df['IsDiabetic']
X_train.shape, Y_train.shape, X_test.shape

((652, 7), (652,), (116, 7))

In [29]:
# Logistic Regression
logreg = LogisticRegression(solver = 'newton-cg', multi_class='ovr')
logreg.fit(X_train, Y_train)
logreg_train_acc = logreg.score(X_train,Y_train)
logreg_test_acc = logreg.score(X_test,Y_test)
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.7484662576687117
logreg test accuracy=  0.7758620689655172

In [30]:
# Perceptron
perceptron = Perceptron()
perceptron.fit(X_train, Y_train)
perceptron_train_acc = perceptron.score(X_train, Y_train)
perceptron_test_acc = perceptron.score(X_test,Y_test)
print ('perceptron training acuracy= ',perceptron_train_acc)
print('perceptron test accuracy= ',perceptron_test_acc)

perceptron training acuracy=  0.6687116564417178
perceptron test accuracy=  0.6120689655172413

In [31]:
# Random Forest
random_forest = RandomForestClassifier()
random_forest.fit(X_train, Y_train)
random_forest_train_acc = random_forest.score(X_train, Y_train)
random_forest_test_acc = random_forest.score(X_test,Y_test)
print('random_forest training acuracy= ',random_forest_train_acc)
print('random_forest test accuracy= ',random_forest_test_acc)

random_forest training acuracy=  0.8650306748466258
random_forest test accuracy=  0.7155172413793104

//anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

,TimesPregnant,glucoseLevel,BP,insulin,BMI,Pedigree,Age,IsDiabetic
0,6,148.0,72,0,33.6,0.627,50.0,1
1,1,NaN,66,0,26.6,0.351,31.0,0
2,8,183.0,64,0,23.3,0.672,NaN,1
3,1,NaN,66,94,28.1,0.167,21.0,0
4,0,137.0,40,168,43.1,2.288,33.0,1
5,5,116.0,74,0,25.6,0.201,30.0,0
6,3,78.0,50,88,31.0,0.248,26.0,1
7,10,115.0,0,0,35.3,0.134,29.0,0
8,2,197.0,70,543,30.5,0.158,53.0,1
9,8,NaN,96,0,0.0,0.232,54.0,1
10,4,110.0,92,0,37.6,0.191,NaN,0
11,10,168.0,74,0,38.0,0.537,34.0,1
12,10,139.0,80,0,27.1,1.441,57.0,0
13,1,NaN,60,846,30.1,0.398,59.0,1
14,5,166.0,72,175,25.8,0.587,51.0,1
15,7,100.0,0,0,30.0,0.484,32.0,1
16,0,NaN,84,230,45.8,0.551,31.0,1
17,7,107.0,74,0,29.6,0.254,31.0,1
18,1,103.0,30,83,43.3,0.183,33.0,0
19,1,115.0,70,96,34.6,0.529,32.0,1
20,3,126.0,88,235,39.3,0.704,27.0,0
21,8,99.0,84,0,35.4,0.388,50.0,0
22,7,196.0,90,0,39.8,0.451,41.0,1
23,9,119.0,80,0,29.0,0.263,29.0,1
24,11,143.0,94,146,36.6,0.254,51.0,1
25,10,125.0,70,115,31.1,0.205,41.0,1
26,7,147.0,76,0,39.4,0.257,43.0,1
27,1,97.0,66,140,23.2,0.487,NaN,0
28,13,NaN,82,110,22.2,0.245,57.0,0
29,5,117.0,92,0,34.1,0.337,38.0,0
...,...,...,...,...,...,...,...,...
738,2,99.0,60,160,36.6,0.453,NaN,0
739,1,102.0,74,0,39.5,0.293,42.0,1
740,11,120.0,80,150,42.3,0.785,48.0,1
741,3,102.0,44,94,30.8,0.400,26.0,0
742,1,109.0,58,116,28.5,0.219,22.0,0
743,9,140.0,94,0,32.7,0.734,45.0,1
744,13,153.0,88,140,40.6,1.174,39.0,0
745,12,100.0,84,105,30.0,0.488,46.0,0
746,1,147.0,94,0,49.3,0.358,27.0,1
747,1,81.0,74,57,46.3,1.096,32.0,0
748,3,187.0,70,200,36.4,0.408,36.0,1
749,6,162.0,62,0,24.3,0.178,50.0,1
750,4,136.0,70,0,31.2,1.182,22.0,1
751,1,121.0,78,74,39.0,0.261,28.0,0
752,3,108.0,62,0,26.0,0.223,25.0,0
753,0,181.0,88,510,43.3,0.222,26.0,1
754,8,154.0,78,0,32.4,0.443,45.0,1
755,1,128.0,88,110,36.5,1.057,37.0,1
756,7,137.0,90,0,32.0,0.391,39.0,0
757,0,123.0,72,0,36.3,0.258,52.0,1
758,1,106.0,76,0,37.5,0.197,26.0,0
759,6,190.0,92,0,35.5,0.278,66.0,1
760,2,88.0,58,16,28.4,0.766,22.0,0
761,9,170.0,74,0,44.0,0.403,43.0,1
762,9,89.0,62,0,22.5,0.142,33.0,0
763,10,101.0,76,180,32.9,0.171,63.0,0
764,2,122.0,70,0,36.8,0.340,27.0,0
765,5,121.0,72,112,26.2,0.245,30.0,0
766,1,126.0,60,0,30.1,0.349,47.0,1
767,1,93.0,70,0,30.4,0.315,23.0,0